<!DOCTYPE html>
<html>
<head>
	<title>Silver Purchase</title>
    <style>
		body {
			background-color: rgb(192,192,192);
		}
	</style>
</head>
<body>
	<h1>Purchase Silver Package:</h1>
	<p>Enter Credit/Debit Card Number:</p>
	
	<form action = "{{url_for('checkCardSilver')}}" method = "POST">
        <p>Card Number: <input type="text" name="CardNum"> </p>
        <input type = "submit" value = "Submit">
    </form>
    <a href = "/view"><Button>Back to Home</Button></a>
	<p>🏠</p>
	
	
</body>
</html>
