<!DOCTYPE html>
<html>
<head>
	<title>Gold and Silver Buttons</title>
    <style>
		body {
			background-color: rgb(97, 197, 97);
		}
	</style>
</head>
<body>
	<h1>Gold or Silver?</h1>
	<p>Choose your package:</p>
	
    <h2>Silver</h2>
    <p>$4.99</p>
	<p>The Silver Package Includes:</p>
	<a href = "/purchaseSilver"><Button>Silver</Button></a>

	<h2>Gold</h2>
    <p>$12.99</p>
	<p>The Gold Package Includes:.</p>
	<a href = "/purchaseGold"><Button>Gold</Button></a>
	
	
</body>
</html>
